@import 'tailwindcss';

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  color:rgb(41.4% 0.112 45.904);
}
main{ 
  background-image: url('hero-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul{
  list-style-type: none;
  padding: 0; 
}
